# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# ==================================================================================================
# ===                                  Obsidian Test Vault                                       === 
# ==================================================================================================

# Exclude Dir: -------------------------------------------------------------------------------------
test-vault/.obsidian/*
# Include various files/subdirs in above dir: --------------------------------------------
!test-vault/.obsidian/community-plugins.json
!test-vault/.obsidian/plugins/

# Exclude Dir: -------------------------------------------------------------------------------------
test-vault/.obsidian/plugins/*
# Include various files/subdirs in above dir: --------------------------------------------
!test-vault/.obsidian/plugins/obsidian-conceal-plugin/
!test-vault/.obsidian/plugins/hot-reload/

# Exclude Dir: -------------------------------------------------------------------------------------
test-vault/.obsidian/plugins/obsidian-conceal-plugin/*
# Include various files/subdirs in above dir: --------------------------------------------
# This empty file tells the hot-reload plugin to reload this plugin
!test-vault/.obsidian/plugins/obsidian-conceal-plugin/.hotreload

# Exclude Dir: -------------------------------------------------------------------------------------
# This will be for testing random things in the test-vault
test-vault/untracked/*
# Include various files/subdirs in above dir: --------------------------------------------
!test-vault/untracked/README.md
